@page "/employees-b"
@*dostęp do postrony tylko dla szefa*@
@if (Login.UserLoggedIn.If_manager == 2)
{
    <h1>Pracownicy</h1>
    <div>
        <div style="float:left">
            <button class="btn btn-primary" @onclick="addNew">Nowy pracownik</button>
        </div>
    </div>
    
    //TODO - zaimplementować obsługę opcji z ContextMenu (głównie edit i delete)
    <SfGrid DataSource="EmployeeList"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="false"
            ContextMenuItems="@(new List<object>()
            { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending", "Copy", "Edit", "Delete", "Save", "Cancel"})">
        <GridPageSettings PageSize="12"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(EmployeeModel.Employee_id) IsPrimaryKey="true" HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.First_name) HeaderText="Imię" TextAlign="TextAlign.Left" Width="80"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.Last_name) HeaderText="Nazwisko" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.Email) HeaderText="E-mail" TextAlign="TextAlign.Left" Width="120"></GridColumn>
            <GridColumn Field=@nameof(EmployeeModel.UserType) HeaderText="Rodzaj" TextAlign="TextAlign.Left" Width="80"></GridColumn>
        </GridColumns>
    </SfGrid>

    @*dodawanie nowego pracownika*@
    @if (isAdd)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Dodaj pracownika</h3>
                        <button type="button" class="close" @onclick="closeAdd">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <EditForm Model="@Employee">
                            <DataAnnotationsValidator />
                            <form>
                                <div class="form-group">
                                    <label asp-for="CompanyId" class="control-label">IdFirmy</label>
                                    <select asp-for="CompanyId" class="form-control">
                                        <option value="">-- Wybierz ID --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="FirstName" class="control-label">Imię</label>
                                    <input for="FirstName" class="form-control" @bind-value="Employee.firstname" />
                                    <ValidationMessage For="@(() => Employee.firstname)" />
                                </div>
                                <div class="form-group">
                                    <label for="LastName" class="control-label">Nazwisko</label>
                                    <input for="LastName" class="form-control" @bind-value="Employee.lastname" />
                                    <ValidationMessage For="@(() => Employee.lastname)" />
                                </div>
                                <div class="form-group">
                                    <label for="Email" class="control-label">Email</label>
                                    <input for="Email" class="form-control" @bind-value="Employee.email" />
                                    <ValidationMessage For="@(() => Employee.email)" />
                                </div>
                                <div class="form-group">
                                    <label for="IfManager" class="control-label">Czy manager?</label>
                                    <input for="IfManager" type="checkbox" class="form-control" @bind-value="Employee.ifmanager" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-info" data-dismiss="modal">Zapisz</button>
                                </div>
                            </form>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    /// <summary>
    /// Strona wyświetlająca listę pracowników dla widoku menadżera/pracownika.
    /// </summary>
    public static List<EmployeeModel> EmployeeList;
    public int length;
    private BackendLibrary.Validation.EmployeeValidation Employee;
    private Boolean isAdd;

    protected override void OnInitialized()
    {
        EmployeeList = EmployeeData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
        length = EmployeeList.Count;
    }

    private void addNew(MouseEventArgs e)
    {
        isAdd = true;
    }

    private void closeAdd(MouseEventArgs e)
    {
        isAdd = false;
    }
}