@page "/employees-b"

@*dostęp do postrony tylko dla szefa*@
@if (WebApp.Program.if_manager == 2)
{
    <h1>Pracownicy</h1>
    <div>
        <div style="float:left">
            <button class="btn btn-primary" @onclick="addNew">Nowy pracownik</button>
        </div>
        <div style="float:right; width:40%;">
            <div class="col-sm-6" style="float:left">
                <input class="form-control" type="text" placeholder="Szukaj" />
            </div>
            <div>
                <button type="submit" class="btn btn-default btn-info">Filter</button>
            </div>
        </div>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Rodzaj pracownika</th>
            </tr>
            @for (int i = 0; i < length; i++)
            {
                <tr>
                    <th>@ListToDisplayEmployees_b[i].Employee_id</th>
                    <th>@ListToDisplayEmployees_b[i].First_name</th>
                    <th>@ListToDisplayEmployees_b[i].Last_name</th>
                    <th>@ListToDisplayEmployees_b[i].Email</th>
                    @if (ListToDisplayEmployees_b[i].If_manager == 1)
                    {
                        <th>Kierownik</th>
                    }
                    @if (ListToDisplayEmployees_b[i].If_manager == 0)
                    {
                        <th>Pracownik</th>
                    }
                    @if (ListToDisplayEmployees_b[i].If_manager == 2)
                    {
                        <th>Szef</th>
                    }

                </tr>

            }
        </thead>
    </table>

    @if (isAdd)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Dodaj pracownika</h3>
                        <button type="button" class="close" @onclick="closeAdd">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <EditForm Model="@Employee">
                            <DataAnnotationsValidator />
                            <form>
                                <div class="form-group">
                                    <label asp-for="CompanyId" class="control-label">IdFirmy</label>
                                    <select asp-for="CompanyId" class="form-control">
                                        <option value="">-- Wybierz ID --</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="FirstName" class="control-label">Imię</label>
                                    <input for="FirstName" class="form-control" @bind-value="Employee.firstname" />
                                    <ValidationMessage For="@(() => Employee.firstname)" />
                                </div>
                                <div class="form-group">
                                    <label for="LastName" class="control-label">Nazwisko</label>
                                    <input for="LastName" class="form-control" @bind-value="Employee.lastname" />
                                    <ValidationMessage For="@(() => Employee.lastname)" />
                                </div>
                                <div class="form-group">
                                    <label for="Email" class="control-label">Email</label>
                                    <input for="Email" class="form-control" @bind-value="Employee.email" />
                                    <ValidationMessage For="@(() => Employee.email)" />
                                </div>
                                <div class="form-group">
                                    <label for="IfManager" class="control-label">Czy manager?</label>
                                    <input for="IfManager" type="checkbox" class="form-control" @bind-value="Employee.ifmanager" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-info" data-dismiss="modal">Zapisz</button>
                                </div>
                            </form>
                        </EditForm>
                    </div>


                </div>
            </div>
        </div>
    }
}





@code {

    private BackendLibrary.Validation.EmployeeValidation Employee = new BackendLibrary.Validation.EmployeeValidation();


    private Boolean isAdd;

    /// <summary>
    /// Tworzymy liste, ktora przechowuje wszystkich pracownikow, zgodnych z ip firmy, by nastepnie ich wyswietlic w aplikacji
    /// </summary>
    public static List<BackendLibrary.Models.EmployeeModel> ListToDisplayEmployees_b = BackendLibrary.DataAccess.EmployeeData.GetAllByCompanyId(WebApp.Program.company_id);
    public int length = ListToDisplayEmployees_b.Count;

    private void addNew(MouseEventArgs e)
    {
        isAdd = true;
    }

    private void closeAdd(MouseEventArgs e)
    {
        isAdd = false;
    }
}
