@page "/tasks"

<link href="css/popups.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <img src="/Images/logo.png" height="100" />
    <h3>Lista wszystkich zadań</h3>
</div>
@* wyświetlanie przycisku do tworzenia nowych zadań *@
@if (Login.UserLoggedIn.If_manager == 1 || Login.UserLoggedIn.If_manager == 2)
{
    <div>
        <div class="actionBtn">
            <Sfbutton class="btn btn-primary" @onclick="AddTask"><i class="fa fa-plus"></i>&nbsp;Dodaj zadanie</Sfbutton>
        </div>
        <div class="actionBtn">
            <Sfbutton class="btn btn-primary" @onclick="EditTask"><i class="fa fa-pencil"></i>&nbsp;Edytuj zadanie</Sfbutton>
        </div>
        <div class="actionBtn">
            <Sfbutton class="btn btn-primary" id="deleteBtn" @onclick="DeleteTask"><i class="fa fa-trash"></i>&nbsp;Usuń zadanie</Sfbutton>
        </div>
    </div>
}

<div class="actionBtn" style="float: right; width: auto;">
    <label>Szukaj:</label>
    <input type="text" @bind-value="searchStr" @onkeyup="@SearchOnEnter" />
</div>
<br />
<br />

<div>
    @*TODO - zaimplementować obsługę opcji z ContextMenu (głównie edit i delete)*@
    <SfGrid @ref="DefaultGrid"
            DataSource="TaskList"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="true"
            AllowSelection="true"
            Locale="pl"
            ContextMenuItems="@(new List<object>()
            {"SortDescending", "SortAscending", "Copy"})">
       
        <GridFilterSettings EnableCaseSensitivity="false"></GridFilterSettings>
        <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
        <GridSelectionSettings EnableToggle="true"></GridSelectionSettings>
        <GridEvents TValue="TaskModel"
                    RowSelected="RowSelectHandler"
                    RowDeselected="RowDeselectHandler"
                    OnRecordDoubleClick="DisplayTaskDetails"
                    OnRecordClick="ExpandTaskDetails" QueryCellInfo="CustomizeCell">
        </GridEvents>
        <GridTemplates>
            <DetailTemplate>
                @{
                    var task = (context as TaskModel);

                    <label class="header-list"><i class="fas fa-user-friends"></i>Pracownicy:</label>
                    <SfGrid DataSource="employeeTaskPairs" TValue="EmpTaskPair" Query="@GetEmployeesQuery(task.Task_id)">
                        <GridPageSettings PageSize="6"></GridPageSettings>
                        <GridColumns>
                            <GridColumn HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.First_name) HeaderText="Imię" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.Last_name) HeaderText="Nazwisko" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.Email) HeaderText="E-mail" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                }
            </DetailTemplate>
        </GridTemplates>
        <GridPageSettings PageSize="15"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(TaskModel.Task_id) IsPrimaryKey="true" HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Name) HeaderText="Nazwa" TextAlign="TextAlign.Left" Width="500"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Status) HeaderText="Status" TextAlign="TextAlign.Left" Width="200"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Start_time) HeaderText="Data rozpoczęcia" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left" Width="200"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Deadline) HeaderText="Data zakończenia" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left"></GridColumn>
            <GridColumn HeaderText="Akcje">
                <Sfbutton class="btn btn-primary" @onclick="EditTask"><i class="fa fa-pencil"></i></Sfbutton>
            </GridColumn>
        </GridColumns>


    </SfGrid>


    <SfGrid @ref="DefaultGrid"
            DataSource="listOfUnstartedTasks"
            AllowPaging="true"
            AllowSorting="true"
            AllowFiltering="true"
            AllowSelection="true"
            Locale="pl"
            ContextMenuItems="@(new List<object>()
            {"SortDescending", "SortAscending", "Copy"})">
        <GridFilterSettings EnableCaseSensitivity="false"></GridFilterSettings>
        <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
        <GridSelectionSettings EnableToggle="true"></GridSelectionSettings>
        <GridEvents TValue="TaskModel"
                    RowSelected="RowSelectHandler"
                    RowDeselected="RowDeselectHandler"
                    OnRecordDoubleClick="SetAssingTaskButtonVisibleAndDisplayTaskDetails"
                    OnRecordClick="ExpandTaskDetails">
        </GridEvents>
        <GridTemplates>
            <DetailTemplate>
                @{
                    var task = (context as TaskModel);

                    <label class="header-list"><i class="fas fa-user-friends"></i>Pracownicy:</label>
                    <SfGrid DataSource="employeeTaskPairs" TValue="EmpTaskPair" Query="@GetEmployeesQuery(task.Task_id)">
                        <GridPageSettings PageSize="6"></GridPageSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(EmpTaskPair.Employee_id) HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.First_name) HeaderText="Imię" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.Last_name) HeaderText="Nazwisko" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                            <GridColumn Field=@nameof(EmpTaskPair.Email) HeaderText="E-mail" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                }
            </DetailTemplate>
        </GridTemplates>
        <GridPageSettings PageSize="15"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(TaskModel.Task_id) IsPrimaryKey="true" HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Name) HeaderText="Nazwa" TextAlign="TextAlign.Left" Width="500"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Status) HeaderText="Status" TextAlign="TextAlign.Left" Width="200"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Start_time) HeaderText="Data rozpoczęcia" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left" Width="200"></GridColumn>
            <GridColumn Field=@nameof(TaskModel.Deadline) HeaderText="Deadline" Format="d" Type="ColumnType.Date"
                        TextAlign="TextAlign.Left"></GridColumn>
        </GridColumns>


    </SfGrid>

    <div class="form-group">
        <SfToast @ref="NoSelectedTask" Title="Wybierz zadanie!" Timeout=2000>
            <ToastPosition X="Center"></ToastPosition>
        </SfToast>
    </div>

    @* okno dodawania nowego zadania*@

    <SfDialog @bind-Visible="@VisibilityAdd" Header="Nowe zadanie" Width="800px" IsModal="true" ShowCloseIcon="true">
        <DialogTemplates>
            <Content>
                <EditForm Model="@TaskAdd">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Tytuł" class="control-label" required>Tytuł</label>
                        <input for="Tytuł" class="form-control" @bind-value="TaskAdd.name" />
                        <ValidationMessage For="@(() => TaskAdd.name)" />
                    </div>
                    <div class="form-group">
                        <label for="Opis" class="control-label">Opis</label>
                        <input for="Opis" class="form-control" @bind-value="TaskAdd.description" />
                        <ValidationMessage For="@(() => TaskAdd.description)" />
                    </div>
                    <div class="form-group">
                        <label for="Starttime" class="control-label">Czas rozpoczęcia</label>
                        <SfDateTimePicker TValue="DateTime" @bind-value="TaskAdd.start_time"></SfDateTimePicker>
                        <ValidationMessage For="@(() => TaskAdd.start_time)" />
                    </div>
                    <div class="form-group">
                        <label for="Deadline" class="control-label">Czas zakończenia</label>
                        <SfDateTimePicker TValue="DateTime" @bind-value="TaskAdd.deadline"></SfDateTimePicker>
                        <ValidationMessage For="@(() => TaskAdd.deadline)" />
                    </div>
                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="Status" class="control-label">Status</label>
                                <SfDropDownList TValue="string" TItem="string"
                                                @bind-Value="@TaskAdd.status"
                                                Placeholder="Szukaj..."
                                                DataSource="@status" AllowFiltering="true"
                                                MaximumSelectionLength=1>
                                    <DropDownListFieldSettings Text="status"> </DropDownListFieldSettings>
                                </SfDropDownList>
                                <ValidationMessage For="@(() => TaskAdd.status)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IfAutoAssigned" class="control-label">Czy przydzielić automatycznie?</label>
                        <input for="IfAutoAssigned" type="checkbox" class="form-control" @bind-value="TaskAdd.auto_assigned" />
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="etykiety" class="control-label">Etykiety</label>
                                <SfMultiSelect TValue="string[]" TItem="BackendLibrary.Models.LabelModel"
                                               @bind-Value="@selectedLabels"
                                               Placeholder="Szukaj..."
                                               DataSource="@labelsInDb" AllowFiltering="true" AllowCustomValue="true"
                                               Mode="@VisualMode.Box">
                                    <MultiSelectFieldSettings Text="Name"> </MultiSelectFieldSettings>
                                </SfMultiSelect>
                                <ValidationMessage For="@(() => TaskAdd.SelectedLabel)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="projekt" class="control-label">
                                    Projekt
                                    <SfSwitch @bind-Checked="@isChecked" @onchange="@OnChangeButton"></SfSwitch>
                                </label>
                                <SfDropDownList TValue="string" TItem="BackendLibrary.Models.ProjectModel"
                                                @bind-Value="@selectedProject"
                                                Placeholder="Szukaj..."
                                                DataSource="@projectsInDb" AllowFiltering="true"
                                                Enabled="@EnableProjectDropDown">
                                    <DropDownListFieldSettings Text="Name"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="pracownicy" class="control-label">Pracownicy</label>
                                <SfMultiSelect TValue="int[]" TItem="EmployeeModel"
                                               @bind-Value="@selectedEmployeesId"
                                               Placeholder="Wybierz..."
                                               DataSource="@employees" AllowFiltering="true"
                                               Mode="@VisualMode.Box">
                                    <MultiSelectTemplates TItem="EmployeeModel">
                                        <!-- Zmieniony Context z default na "SelectedEmployee" aby mogła działać walidacja -->
                                        <ItemTemplate Context="SelectedEmployee">
                                            <div>
                                                <div class="ename">
                                                    @((SelectedEmployee as EmployeeModel).First_name)
                                                    @((SelectedEmployee as EmployeeModel).Last_name)
                                                </div>
                                            </div>
                                        </ItemTemplate>
                                        <ValueTemplate Context="SelectedEmployee">
                                            <div class="multiselect-width">
                                                <div class="name">
                                                    @((SelectedEmployee as EmployeeModel).First_name)
                                                    @((SelectedEmployee as EmployeeModel).Last_name)
                                                </div>
                                            </div>
                                        </ValueTemplate>
                                    </MultiSelectTemplates>
                                    <MultiSelectFieldSettings Text="First_name" Value="Employee_id"></MultiSelectFieldSettings>
                                </SfMultiSelect>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" @onclick="SaveTask">Zapisz</button>
                        <SfToast @ref="SuccessTask" Title="Dodano nowe zadanie!" Timeout=3000 Content="@ToastContentAdd">
                            <ToastPosition X="Right"></ToastPosition>
                        </SfToast>
                    </div>
                </EditForm>
            </Content>
        </DialogTemplates>
        <DialogEvents Closed="@DialogClosed"></DialogEvents>
        <DialogAnimationSettings Effect="DialogEffect.Fade"></DialogAnimationSettings>
    </SfDialog>

    @* okno szczegolow zadania *@
    <SfDialog @bind-Visible="@VisibilityDetails" AllowDragging="true" Width="800px" Height="800px" IsModal="true" ShowCloseIcon="true">
        <DialogTemplates>
            <Content>
                <EditForm Model="@TaskEdit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="Tytuł" class="control-label" required>Tytuł</label>
                        <input for="Tytuł" class="form-control" @bind-value="TaskEdit.name" readonly=@readOnly />
                        <ValidationMessage For="@(() => TaskEdit.name)" />
                    </div>
                    <div class="form-group">
                        <label for="Opis" class="control-label">Opis</label>
                        <input for="Opis" class="form-control" @bind-value="TaskEdit.description" readonly=@readOnly />
                        <ValidationMessage For="@(() => TaskEdit.description)" />
                    </div>
                    <div class="form-group">
                        <label for="Starttime" class="control-label">Czas rozpoczęcia</label>
                        <SfDateTimePicker TValue="DateTime" @bind-value="TaskAdd.start_time"></SfDateTimePicker>
                        <ValidationMessage For="@(() => TaskEdit.start_time)" />
                    </div>
                    <div class="form-group">
                        <label for="Deadline" class="control-label">Deadline</label>
                        <SfDateTimePicker TValue="DateTime" @bind-value="TaskAdd.deadline"></SfDateTimePicker>
                        <ValidationMessage For="@(() => TaskEdit.deadline)" />
                    </div>
                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="Status" class="control-label">Status</label>
                                <SfDropDownList TValue="string" TItem="string"
                                                @bind-Value="@TaskEdit.status"
                                                Placeholder="Szukaj..."
                                                Enabled=@EnabledStatus
                                                DataSource="@status" AllowFiltering="true">
                                    <DropDownListFieldSettings Text="status"> </DropDownListFieldSettings>
                                </SfDropDownList>
                                <ValidationMessage For="@(() => TaskEdit.status)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="IfAutoAssigned" class="control-label" hidden=@readOnly>Czy przydzielić automatycznie? </label>
                        <input for="IfAutoAssigned" type="checkbox" class="form-control-checkbox" @bind-value="TaskEdit.auto_assigned" hidden=@readOnly />
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="etykiety" class="control-label">Etykiety</label>
                                <SfMultiSelect TValue="string[]" TItem="BackendLibrary.Models.LabelModel"
                                               @bind-Value="@nameoflabels"
                                               Enabled=@Enabled
                                               s
                                               Placeholder="Szukaj..."
                                               DataSource="@labelsInDb" AllowFiltering="true" AllowCustomValue="true"
                                               Mode="@VisualMode.Box">
                                    <MultiSelectFieldSettings Text="Name">  </MultiSelectFieldSettings>
                                </SfMultiSelect>
                                <ValidationMessage For="@(() => TaskEdit.SelectedLabel)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="projekt" class="control-label">
                                    Projekt
                                    <SfSwitch @bind-Checked="@isChecked" @onchange="@OnChangeButton"></SfSwitch>
                                </label>
                                <SfDropDownList TValue="string" TItem="BackendLibrary.Models.ProjectModel"
                                                @bind-Value="@nameofProject"
                                                Enabled="@EnableProjectDropDown"
                                                Placeholder="Szukaj..."
                                                DataSource="@projectsInDb" AllowFiltering="true">
                                    <DropDownListFieldSettings Text="Name"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 control-section multiselect-height">
                        <div class="control-wrapper multi-select-parent">
                            <div class="padding-top">
                                <label asp-for="pracownicy" class="control-label">Pracownicy</label>
                                <SfMultiSelect TValue="int[]" TItem="BackendLibrary.Models.EmployeeModel"
                                               @bind-Value="@nameofEmployees"
                                               Placeholder="Wybierz..."
                                               Enabled=@Enabled
                                               DataSource="@employees" AllowFiltering="true"
                                               Mode="@VisualMode.Box">
                                    <MultiSelectTemplates TItem="BackendLibrary.Models.EmployeeModel">
                                        <!-- Zmieniony Context z default na "SelectedEmployee" aby mogła działać walidacja -->
                                        <ItemTemplate Context="SelectedEmployee">
                                            <div>
                                                <div class="ename">
                                                    @((SelectedEmployee as BackendLibrary.Models.EmployeeModel).First_name)
                                                    @((SelectedEmployee as BackendLibrary.Models.EmployeeModel).Last_name)
                                                </div>
                                            </div>
                                        </ItemTemplate>
                                        <ValueTemplate Context="SelectedEmployee">
                                            <div class="multiselect-width">
                                                <div class="name">
                                                    @((SelectedEmployee as BackendLibrary.Models.EmployeeModel).First_name)
                                                    @((SelectedEmployee as BackendLibrary.Models.EmployeeModel).Last_name)
                                                </div>
                                            </div>
                                        </ValueTemplate>
                                    </MultiSelectTemplates>
                                    <MultiSelectFieldSettings Text="First_name" Value="Employee_id"></MultiSelectFieldSettings>
                                </SfMultiSelect>
                            </div>
                        </div>
                    </div>

                    <SfGrid @ref="DefaultGridComments"
                            DataSource="CommentsList"
                            AllowPaging="true"
                            Locale="pl"
                            ContextMenuItems="@(new List<object>()
            { "AutoFit", "AutoFitAll", "SortDescending", "SortAscending"})">
                        <GridFilterSettings EnableCaseSensitivity="false"></GridFilterSettings>
                        <GridPageSettings PageSize="9"></GridPageSettings>
                        <GridSearchSettings IgnoreCase="true"></GridSearchSettings>
                        <GridSelectionSettings EnableToggle="true"></GridSelectionSettings>
                        <GridEvents CommandClicked="OnCommandClicked" TValue="CommentModel"> </GridEvents>
                        <div class="komentarze" width="400px">
                            <GridColumns>
                                <GridColumn Field=@nameof(CommentModel.Employee_id) IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field=@nameof(CommentModel.Description) TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn Field=@nameof(CommentModel.Date) Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Left"></GridColumn>
                                <GridColumn>
                                    <GridCommandColumns>
                                        <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat"})"></GridCommandColumn>
                                    </GridCommandColumns>
                                </GridColumn>
                            </GridColumns>
                        </div>

                        <!--
                        <SfGrid @ref="DefaultGridComments"
                                DataSource="CommentsList"
                                AllowPaging="true">
                                <SfListView ID="list"
                                            DataSource="CommentsList"
                                            ShowHeader="true"

                                            HeaderTitle="Komentarze">
                                    <ListViewFieldSettings TValue="CommentModel" Id="Id" Text="Text"></ListViewFieldSettings>
                                    <ListViewTemplates TValue="CommentModel">
                                        <Template>
                                            @{
                                                var currentData = (context as CommentModel);

                                                <div class="flex item__container">
                                                        <div class="font-weight-normal">@currentData.Employee_id</div>
                                                        <div class="bold">@currentData.Description</div>
                                                        <div class="small__font">@currentData.Date</div>
                                                        <div class="actionBtn">
                                                            <Sfbutton class="btn btn-primary" id="deleteBtn"><i class="fa fa-trash"></i>&nbsp;U</Sfbutton>
                                                        </div>
                                                    </div>
                                            }
                                        </Template>
                                    </ListViewTemplates>
                                </SfListView></SfGrid>
                            -->
                    </SfGrid>
                </EditForm>

                <EditForm Model="Comment">
                    <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                        <label for="Comment" class="control-label" required>Dodaj komentarz:</label>
                        <input for="Comment" class="form-control" @bind-value="@Comment.Description">
                        <button class="button-addc" type="submit" data-dismiss="modal" @onclick="AddNewComment" hidden=@readOnly>Dodaj</button>
                        </input>
                    </div>
                </EditForm>
                


                <div class="form-group">
                    <div class="actionBtn">
                        <Sfbutton class="btn btn-primary" hidden="@isAssignTaskButtonHidden" @onclick="AssignTask"><i class="fa fa-plus"></i>&nbsp;Przypisz zadanie do mnie</Sfbutton>
                    </div>
                    <button type="submit" class="btn btn-block btn-info" data-dismiss="modal" @onclick="UpdateTask" hidden=@isSaveButtonHidden>Zapisz</button>
                    <SfToast @ref="ToastObj" Title="Zadanie zaktualizowane pomyslnie!" Timeout=3000 Content="@ToastContentEdit">
                        <ToastPosition X="Right"></ToastPosition>
                    </SfToast>
                    <SfToast @ref="FailedObj" Title="Brak zmian w zadaniu!" Timeout=3000 Content="@FailedContent">
                        <ToastPosition X="Right"></ToastPosition>
                    </SfToast>
                </div>
            </Content>
        </DialogTemplates>
        <DialogEvents Closed="@DialogEditClosed"></DialogEvents>
        <DialogAnimationSettings Effect="DialogEffect.Fade"></DialogAnimationSettings>
    </SfDialog>
</div>

@code {
    SfToast NoSelectedTask;
    private SfGrid<TaskModel> DefaultGrid;
    private string searchStr;
    private static List<TaskModel> TaskList;
    private static List<TaskModel> listOfUnstartedTasks;
    private List<EmpTaskPair> employeeTaskPairs;
    private List<EmployeeTaskModel> allEmpTasks;
    public static TaskModel SelectedTask;
    private bool readOnly = false;
    private bool Enabled = true;
    private bool EnabledStatus = true;
    private bool isSaveButtonHidden = false;
    private bool isAssignTaskButtonHidden = true;
    private List<String> status = new List<String>(new string[] { "Nierozpoczęte", "W toku", "Zakończone", "Anulowane" });

    // Zmienne z AddNewTask
    SfToast SuccessTask;
    private string ToastContentAdd { get; set; } = "Zadanie zostało pomyślnie dodane.";
    private TaskValidation TaskAdd;
    private List<LabelModel> labelsInDb;
    private List<EmployeeModel> employees;
    private List<ProjectModel> projectsInDb;
    private string[] selectedLabels { get; set; } = new string[] { };
    private int[] selectedEmployeesId = new int[] { };
    private string selectedProject;
    private int lastTaskId;
    private int labelIdByName;
    private string mergedSelectedLabels;
    private bool isMergedLabelsMatchToPattern;
    private string pattern = @"^[a-zA-Z0-9]*$";
    private Boolean VisibilityAdd { get; set; }
    private bool isChecked = false;
    public bool EnableProjectDropDown = false;

    // Zmienne z EditTask
    SfToast ToastObj;
    SfToast FailedObj;
    private string ToastContentEdit { get; set; } = "Zadanie zaktualizowane pomyslnie!";
    private string FailedContent { get; set; } = "Brak zmian w zadaniu!";
    private TaskValidation TaskEdit;
    DateTime defaultDate = new DateTime(0001, 1, 1, 0, 0, 0);
    private Boolean VisibilityEdit { get; set; }

    // Zmienne z TaskDetails
    private SfGrid<TaskModel> DefaultGrid1;
    public static List<TaskModel> ListOfTasks;
    private Boolean addButtonClicked;
    private Boolean VisibilityDetails { get; set; }
    public static List<TaskLabelModel> ListofLabelsId;
    private string[] nameoflabels { get; set; } = new string[] { };
    private string[] oldlabels { get; set; } = new string[] { };
    public static List<EmployeeTaskModel> ListofEmployeesId;
    private int[] nameofEmployees { get; set; } = new int[] { };
    private int[] oldEmployees { get; set; } = new int[] { };
    private string nameofProject;
    BackendLibrary.Models.CommentModel Comment;
    private SfGrid<CommentModel> DefaultGridComments;
    private static List<CommentModel> CommentsList;
    BackendLibrary.Models.CommentModel selectedComment;
    private EmployeeModel loggedEmployee;
    private bool commentDisable = true;



    public void CustomizeCell(Syncfusion.Blazor.Grids.QueryCellInfoEventArgs<TaskModel> args)
    {
        if(args.Column.Field == "Deadline")
        {
            if (args.Data.Deadline <= DateTime.Today.AddDays(2))
            {
                args.Cell.AddClass(new string[] { "deadline-below-today" });
            }
            else
            {
                args.Cell.AddClass(new string[] { "deadline-normal" });
            }
        }

    }


    // private string nazwaprojektu = ProjectData.GetById();

    protected override void OnInitialized()
    {
        if (Login.UserLoggedIn.If_manager == -1)
        {
            NavigationManager.NavigateTo("/");
        }
        if (Login.UserLoggedIn.If_manager == 0)
        {
            readOnly = true;
            Enabled = false;
        }


        SelectedTask = new TaskModel();
        if (Login.UserLoggedIn.If_manager == 0)
        {
            TaskList = TaskData.GetInProgressTaskByEmployeeId(Pages.Login.UserLoggedIn.Employee_id);
        }
        else
        {
            TaskList = TaskData.GetInProgressTasks(Pages.Login.UserLoggedIn.Company_id);
        }

        listOfUnstartedTasks = TaskData.GetUnstartedTasksByCompanyId(Pages.Login.UserLoggedIn.Company_id);


        // TaskList = TaskData.GetAllByCompanyId(Pages.Login.UserLoggedIn.Company_id);
        // TaskList = TaskData.GetAllByCompanyId(Pages.Login.UserLoggedIn.Company_id);
        TaskAdd = new TaskValidation();
        TaskEdit = new TaskValidation();
        labelsInDb = LabelData.GetAllByCompanyId(Login.UserLoggedIn.Company_id);
        employees = EmployeeData.GetAllByCompanyId(Login.UserLoggedIn.Company_id);
        projectsInDb = ProjectData.GetAllByCompanyId(Login.UserLoggedIn.Company_id);
        Comment = new CommentModel();
        allEmpTasks = EmployeeTaskData.GetAll();
        loggedEmployee = Pages.Login.UserLoggedIn;

        fillEmployeeTaskPairs();
    }

    /// <summary> Stworzenie listy par pracownik+zadanie do wyświetlania w DataGrid </summary>
    private void fillEmployeeTaskPairs()
    {
        employeeTaskPairs = new List<EmpTaskPair>();
        foreach (var element in allEmpTasks)
        {
            employeeTaskPairs.Add(new EmpTaskPair(
            element.Employee_id,
            employees.Find(x => x.Employee_id == element.Employee_id).First_name,
            employees.Find(x => x.Employee_id == element.Employee_id).Last_name,
            employees.Find(x => x.Employee_id == element.Employee_id).Email,
            element.Task_id));
        }
    }

    private Query GetEmployeesQuery(int task_id)
    {
        return new Query().Where("Task_id", "equal", task_id);
    }

    /// <summary>
    /// Toggle Button od projektow (zmiana stanu)
    /// </summary>
    private void OnChangeButton()
    {
        isChecked = !isChecked;

        if (isChecked == true)
            EnableProjectDropDown = true;
        else
        {
            EnableProjectDropDown = false;
            selectedProject = null;
            nameofProject = null;
        }

    }

    public void RowSelectHandler(RowSelectEventArgs<TaskModel> args)
    {
        SelectedTask = args.Data;
    }

    public void RowDeselectHandler()
    {
        SelectedTask = null;
    }

    private void SearchOnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            this.DefaultGrid.Search(searchStr);
        }
    }

    private void AddTask(MouseEventArgs e)
    {
        VisibilityAdd = true;
    }

    private void EditTask(MouseEventArgs e)
    {
        if (SelectedTask != null)
        {
            TaskEdit.name = SelectedTask.Name;
            TaskEdit.description = SelectedTask.Description;
            TaskEdit.start_time = SelectedTask.Start_time;
            TaskEdit.deadline = SelectedTask.Deadline;
            TaskEdit.status = SelectedTask.Status;
            TaskEdit.auto_assigned = SelectedTask.Auto_assigned;
            TaskEdit.project_id = SelectedTask.Project_id;
            VisibilityEdit = true;
        }
        else
        {
            NoSelectedTask.Show();
        }
    }

    private void DeleteTask(MouseEventArgs e)
    {
        if (SelectedTask != null)
        {

        }
        else
        {
            NoSelectedTask.Show();
        }
    }
    private void SetAssingTaskButtonVisibleAndDisplayTaskDetails(RecordDoubleClickEventArgs<TaskModel> args)
    {
        EnabledStatus = false;
        isSaveButtonHidden = true;
        isAssignTaskButtonHidden = false;
        DisplayTaskDetails(args);

        /*
        EnabledStatus = true;
        isSaveButtonHidden = false;
        isAssignTaskButtonHidden = true;
        */
    }

    private void DisplayTaskDetails(RecordDoubleClickEventArgs<TaskModel> args)
    {
        SelectedTask = args.RowData;
        CommentsList = BackendLibrary.DataAccess.CommentData.GetAllByTaskId(SelectedTask.Task_id);

        if (SelectedTask != null)
        {
            ListOfTasks = TaskData.GetByIdList(Pages.TasksList.SelectedTask.Task_id); //jednoelementowa lista zawierająca wybranego taska

            //tutaj przechowywane są id etykiet, nastepnie odpowiednie etykiety wpisane do tablicy
            ListofLabelsId = TaskLabelData.GetAllLabelsByTaskId(Pages.TasksList.SelectedTask.Task_id);
            this.nameoflabels = new string[ListofLabelsId.Count];
            this.oldlabels = new string[ListofLabelsId.Count];

            //tutaj przechowywane są id pracownikow, nastepnie odpowiedni pracownicy wpisani do tablicy
            ListofEmployeesId = EmployeeTaskData.GetAllEmployeesByTaskId(Pages.TasksList.SelectedTask.Task_id);
            this.nameofEmployees = new int[ListofEmployeesId.Count];
            this.oldEmployees = new int[ListofEmployeesId.Count];

            //nazwa projektu do ktorego przypisane jest zadanie
            if (ProjectData.GetById(Pages.TasksList.SelectedTask.Project_id) != null)
            {
                nameofProject = ProjectData.GetById(Pages.TasksList.SelectedTask.Project_id).Name;
                isChecked = true;
                EnableProjectDropDown = true;
            }

            else
            {
                nameofProject = null;
                isChecked = false;
                EnableProjectDropDown = false;
            }

            // w ponizszych pętlach następuje przypisanie odpowiednich etykiet oraz pracownikow do tablicy, w celu wyswietlenia ich w task-details
            for (int i = 0; i < ListofLabelsId.Count; i++)
            {
                nameoflabels[i] = LabelData.GetById(ListofLabelsId[i].Label_id).Name;
                oldlabels[i] = LabelData.GetById(ListofLabelsId[i].Label_id).Name;
            }
            for (int i = 0; i < ListofEmployeesId.Count; i++)
            {
                nameofEmployees[i] = EmployeeData.GetById(ListofEmployeesId[i].Employee_id).Employee_id;
                oldEmployees[i] = EmployeeData.GetById(ListofEmployeesId[i].Employee_id).Employee_id;
            }
        }




        if (SelectedTask != null)
        {
            TaskEdit.name = SelectedTask.Name;
            TaskEdit.description = SelectedTask.Description;
            TaskEdit.start_time = SelectedTask.Start_time;
            TaskEdit.deadline = SelectedTask.Deadline;
            TaskEdit.status = SelectedTask.Status;
            TaskEdit.auto_assigned = SelectedTask.Auto_assigned;
            TaskEdit.project_id = SelectedTask.Project_id;
            VisibilityDetails = true;
        }
        else
        {
            NoSelectedTask.Show();
        }
    }
    private void AssignTask()
    {

        BackendLibrary.DataAccess.EmployeeTaskData.AddEmployeeTask(new EmployeeTaskModel(SelectedTask.Task_id, loggedEmployee.Employee_id));
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }


    // TODO - testowe zachowanie - do poprawy LUB usuniecia i rozwijania szczegółów w inny sposób
    private void ExpandTaskDetails(RecordClickEventArgs<TaskModel> args)
    {
        SelectedTask = args.RowData;

        if (SelectedTask != null)
        {
            // NavigationManager.NavigateTo("/task-details");
        }
    }


    /// <summary>
    /// Powraca do listy zadan po zamknieciu okna
    /// </summary>
    private void DialogClosed(CloseEventArgs args)
    {
        VisibilityAdd = false;
        VisibilityDetails = false;
        isChecked = false;
        EnableProjectDropDown = false;
    }

    private void DialogEditClosed(CloseEventArgs args)
    {
        VisibilityEdit = false;
        isChecked = false;
        EnableProjectDropDown = false;
        ClearTask();
    }

    /// <summary>
    /// Dodaje do bazy danych zadanie, które zostało nakreślone w gui aplikacji.
    /// </summary>
    private void SaveTask()
    {
        DateTime defaultDateTime = new DateTime(1900, 1, 1, 0, 0, 0);
        BackendLibrary.Models.TaskModel newTask;
        if (TaskAdd.name != null && TaskAdd.description != null && TaskAdd.status != null
            && TaskAdd.deadline >= DateTime.Today && TaskAdd.start_time >= defaultDateTime)
        {
            // zapisywanie zadania z okreslonym projektem lub bez
            if (selectedProject == null)
            {
                newTask = new BackendLibrary.Models.TaskModel
                (WebApp.Pages.Login.UserLoggedIn.Company_id, TaskAdd.name,
                TaskAdd.description, TaskAdd.start_time, TaskAdd.deadline, TaskAdd.status, TaskAdd.auto_assigned, -1);
            }
            else
            {
                TaskAdd.project_id = BackendLibrary.DataAccess.ProjectData.GetIdByName(selectedProject);
                newTask = new BackendLibrary.Models.TaskModel
                (WebApp.Pages.Login.UserLoggedIn.Company_id, TaskAdd.name,
                TaskAdd.description, TaskAdd.start_time, TaskAdd.deadline, TaskAdd.status, TaskAdd.auto_assigned, TaskAdd.project_id);
            }

            MergeSelectedLabels(TaskAdd, selectedLabels);

            if (isMergedLabelsMatchToPattern)
            {
                SaveLabels(selectedLabels);
                BackendLibrary.DataAccess.TaskData.AddTask(newTask);
                SaveTaskLabel();
                AddEmployeeToTask();
                SuccessTask.Show();
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
                VisibilityAdd = false;
            }
        }
    }

    /// <summary>
    /// Walidacja dla etykiet. Scala wybrane etykiety w jednego stringa i porównuje czy całość pasuje do wzorca.
    /// </summary>

    private void MergeSelectedLabels(BackendLibrary.Validation.TaskValidation Task, string[] selectedLabels)
    {
        mergedSelectedLabels = "";
        if (selectedLabels != null)
        {
            for (int i = 0; i < selectedLabels.Length; i++)
            {
                mergedSelectedLabels += selectedLabels[i];
            }
        }
        Task.SelectedLabel = mergedSelectedLabels;
        isMergedLabelsMatchToPattern = Regex.IsMatch(mergedSelectedLabels, pattern);

    }

    /// <summary>
    /// Zapisuje do bazy etykiety, których jeszcze nie ma w bazie.
    /// </summary>
    //TODO - Trzeba jeszcze pobrac opis(czy w ogóle będzie opis etykiet? No chyba nie w prototypie)
    private void SaveLabels(string[] labels)
    {
        if (labels != null)
        {
            for (int i = 0; i < labels.Length; i++)
            {
                if (!IsSelectedLabelsContainsInDbLabels(labels[i]))
                {
                    BackendLibrary.Models.LabelModel new_label = new BackendLibrary.Models.LabelModel
                        (labels[i], WebApp.Pages.Login.UserLoggedIn.Company_id);

                    BackendLibrary.DataAccess.LabelData.AddLabel(new_label);
                }
            }
        }
    }

    /// <summary>
    /// Sprawdza czy etykieta jest już w bazie danych.
    /// </summary>
    private bool IsSelectedLabelsContainsInDbLabels(string label)
    {
        for (int i = 0; i < labelsInDb.Count; i++)
        {
            if (label.Equals(labelsInDb[i].Name))
            {
                return true;
            }
        }
        return false;
    }

    /// <summary>
    /// Przypisuje etykiety do dodanego zadania
    /// </summary>
    private void SaveTaskLabel()
    {
        lastTaskId = BackendLibrary.DataAccess.TaskData.GetMaxId();
        if (selectedLabels != null)
        {
            for (int i = 0; i < selectedLabels.Length; i++)
            {
                labelIdByName = BackendLibrary.DataAccess.LabelData.GetIdByName(selectedLabels[i]);
                BackendLibrary.Models.TaskLabelModel taskLabel = new BackendLibrary.Models.TaskLabelModel(lastTaskId, labelIdByName);
                BackendLibrary.DataAccess.TaskLabelData.AddTaskLabel(taskLabel);
            }
        }
    }

    /// <summary>
    /// Przypisuje pracowników do dodanego zadania
    /// </summary>
    private void AddEmployeeToTask()
    {
        for (int i = 0; i < selectedEmployeesId.Length; i++)
        {
            BackendLibrary.Models.EmployeeTaskModel employeeTask = new BackendLibrary.Models.EmployeeTaskModel(lastTaskId, selectedEmployeesId[i], TaskAdd.status);
            BackendLibrary.DataAccess.EmployeeTaskData.AddEmployeeTask(employeeTask);
        }
    }

    /// <summary>
    /// Zmienia pracowników danego zadania na nowych
    /// </summary>
    private void EditEmployeeToTask()
    {
        for (int i = 0; i < ListofEmployeesId.Count; i++)
        {
            BackendLibrary.DataAccess.EmployeeTaskData.DeleteEmployeeTask(ListofEmployeesId[i].Employee_id, ListofEmployeesId[i].Task_id);
        }
        if (nameofEmployees != null)
        {
            for (int i = 0; i < nameofEmployees.Length; i++)
            {
                BackendLibrary.Models.EmployeeTaskModel employeeTask = new BackendLibrary.Models.EmployeeTaskModel(SelectedTask.Task_id, nameofEmployees[i], SelectedTask.Status);
                BackendLibrary.DataAccess.EmployeeTaskData.AddEmployeeTask(employeeTask);
            }
        }

    }

    /// <summary>
    /// Zmienia etykiety danego zadania na nowe
    /// </summary>
    private void EditTaskLabel()
    {
        for (int i = 0; i < ListofLabelsId.Count; i++)
        {
            BackendLibrary.DataAccess.TaskLabelData.DeleteTaskLabel(ListofLabelsId[i].Task_id, ListofLabelsId[i].Label_id);
        }

        if (nameoflabels != null)
        {
            for (int i = 0; i < nameoflabels.Length; i++)
            {
                labelIdByName = BackendLibrary.DataAccess.LabelData.GetIdByName(nameoflabels[i]);
                BackendLibrary.Models.TaskLabelModel taskLabel = new BackendLibrary.Models.TaskLabelModel
                    (SelectedTask.Task_id, labelIdByName);
                BackendLibrary.DataAccess.TaskLabelData.AddTaskLabel(taskLabel);
            }
        }

    }

    /// <summary>
    /// Dodaje nowy komentarz dotyczący wybranego zadania do bazy danych
    /// </summary>
    private void AddNewComment()
    {
        if (Comment.Description != null)
        {
            BackendLibrary.Models.CommentModel CommentAdd = new BackendLibrary.Models.CommentModel(SelectedTask.Task_id, Login.UserLoggedIn.Employee_id, DateTime.Now, Comment.Description);

            BackendLibrary.DataAccess.CommentData.AddComment(CommentAdd);
            CommentsList.Add(CommentAdd);
        }
        DefaultGridComments.Refresh();
    }


    public void OnCommandClicked(CommandClickEventArgs<CommentModel> args)
    {
        selectedComment = args.RowData;
        if (selectedComment.Employee_id == loggedEmployee.Employee_id)
        {
            DeleteComment();
        }
    }

    private void DeleteComment()
    {

        BackendLibrary.DataAccess.CommentData.DeleteComment(selectedComment.Comment_id);
        CommentsList.Remove(selectedComment);


        DefaultGridComments.Refresh();

    }


    /// <summary>
    /// Sprawdza czy w edycji zmieniono pracownika
    /// </summary>
    private bool IsEmployeesChanged(int employee)
    {
        for (int i = 0; i < nameofEmployees.Length; i++)
        {
            if (employee.Equals(nameofEmployees[i]))
                return true;
        }
        return false;
    }

    /// <summary>
    /// Sprawdza czy w edycji zmieniono etykiete
    /// </summary>
    private bool IsLabelsChanged(string label)
    {
        for (int i = 0; i < nameoflabels.Length; i++)
        {
            if (label.Equals(nameoflabels[i]))
                return true;
        }
        return false;
    }

    /// <summary>
    /// Aktualizuje w bazie danych zadanie, które zostało nakreślone w gui aplikacji.
    /// </summary>
    private void UpdateTask()
    {
        bool if_updated = false; // sprawdza, czy uzytkownik wyedytowal cokolwiek w zadaniu true/false
                                 // poniższe ify sprawdzaja, czy pole do edycji zawiera cos nowego, po czym przypisuje wartosci do Selected_Task oraz zmienia if_updated na true
        if (TaskEdit.name != null && SelectedTask.Name != TaskEdit.name)
        {
            SelectedTask.Name = TaskEdit.name;
            if_updated = true;
        }

        if (TaskEdit.description != null && SelectedTask.Description != TaskEdit.description)
        {
            SelectedTask.Description = TaskEdit.description;
            if_updated = true;
        }

        if (TaskEdit.status != null && SelectedTask.Status != TaskEdit.status)
        {
            SelectedTask.Status = TaskEdit.status;
            if_updated = true;
        }

        if ((DateTime.Compare(TaskEdit.start_time, defaultDate)) != 0 && SelectedTask.Start_time != TaskEdit.start_time)
        {
            SelectedTask.Start_time = TaskEdit.start_time;
            if_updated = true;
        }

        if ((DateTime.Compare(TaskEdit.deadline, defaultDate)) != 0 && SelectedTask.Deadline != TaskEdit.deadline)
        {
            SelectedTask.Deadline = TaskEdit.deadline;
            if_updated = true;
        }

        if (SelectedTask.Auto_assigned != TaskEdit.auto_assigned)
        {
            SelectedTask.Auto_assigned = TaskEdit.auto_assigned;
            if_updated = true;
        }

        if (nameofProject != null)
        {
            if (SelectedTask.Project_id != BackendLibrary.DataAccess.ProjectData.GetIdByName(nameofProject))
            {
                SelectedTask.Project_id = BackendLibrary.DataAccess.ProjectData.GetIdByName(nameofProject);
                if_updated = true;
            }
        }
        else
        {
            if (ProjectData.GetById(Pages.TasksList.SelectedTask.Project_id) != null)
            {
                if_updated = true;
            }
        }

        // sprawdza czy wprowadzono zmiany w przypisanych pracownikach
        // BUG: jak zadanie nie ma zadnego pracownika przypisanego, to jak dodamy jakiegos
        //      i od razu odznaczymy to nie wyswietli sie że brak zmian i zapisze do bazy (a zmian nie ma przecież :V)
        if (oldEmployees != null && nameofEmployees != null)
        {
            if (oldEmployees.Length == nameofEmployees.Length)
            {
                for (int i = 0; i < nameofEmployees.Length; i++)
                {
                    if (IsEmployeesChanged(oldEmployees[i]) == false)
                    {
                        if_updated = true;
                        break;
                    }
                }
            }
            else
            {
                if_updated = true;
            }
        }
        else
        {
            if (oldEmployees == null && nameofEmployees == null)
                ;
            else
                if_updated = true;
        }

        // sprawdza czy wprowadzono zmiany w przypisanych etykietach
        // problem ten sam co przy pracownikach
        if (oldlabels != null && nameoflabels != null)
        {
            if (oldlabels.Length == nameoflabels.Length)
            {
                for (int i = 0; i < nameoflabels.Length; i++)
                {
                    if (IsLabelsChanged(oldlabels[i]) == false)
                    {
                        if_updated = true;
                        break;
                    }
                }
            }
            else
            {
                if_updated = true;
            }
        }
        else
        {
            if (oldlabels == null && nameoflabels == null)
                ;
            else
                if_updated = true;
        }

        if (if_updated == true) //sprawdza czy uzytkownik wyedytowal cos w zadaniu, jesli tak, updatuje wartosci w database oraz wystwietla stosowna informacje
        {
            BackendLibrary.Models.TaskModel updatedTask;
            if (nameofProject == null)
            {
                updatedTask = new BackendLibrary.Models.TaskModel
                (TasksList.SelectedTask.Task_id, TasksList.SelectedTask.Company_id,
                TasksList.SelectedTask.Name, TasksList.SelectedTask.Description, TasksList.SelectedTask.Start_time,
                TasksList.SelectedTask.Deadline, TasksList.SelectedTask.Status, TasksList.SelectedTask.Auto_assigned,
                -1);
            }
            else
            {
                SelectedTask.Project_id = BackendLibrary.DataAccess.ProjectData.GetIdByName(nameofProject);
                updatedTask = new BackendLibrary.Models.TaskModel
                (TasksList.SelectedTask.Task_id, TasksList.SelectedTask.Company_id,
                TasksList.SelectedTask.Name, TasksList.SelectedTask.Description, TasksList.SelectedTask.Start_time,
                TasksList.SelectedTask.Deadline, TasksList.SelectedTask.Status, TasksList.SelectedTask.Auto_assigned,
                TasksList.SelectedTask.Project_id);
            }

            MergeSelectedLabels(TaskEdit, nameoflabels);

            if (isMergedLabelsMatchToPattern)
            {
                if (nameoflabels != null)
                {
                    SaveLabels(nameoflabels);
                }
                BackendLibrary.DataAccess.TaskData.UpdateTask(updatedTask);
                EditTaskLabel();
                EditEmployeeToTask();
                ToastObj.Show();
                VisibilityEdit = false;
                uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
                ClearTask(); //czysci pola obiektu task
            }

        }

        else
        {
            FailedObj.Show(); //wyswietla na ekran informacje o braku zmian w zadaniu
        }

    }

    private void ClearTask()
    {
        TaskEdit.name = null;
        TaskEdit.description = null;
        TaskEdit.start_time = defaultDate;
        TaskEdit.deadline = defaultDate;
        TaskEdit.status = null;
        TaskEdit.auto_assigned = 0;
    }
}