@page "/kanban"

<h3>Twoje zadania</h3>

<SfKanban TValue="BackendLibrary.Models.TaskModel" KeyField="Status" DataSource="@FilteredTasks" Locale="pl">
    <KanbanCardSettings HeaderField="Task_id" ContentField="Description"></KanbanCardSettings>
    <KanbanSwimlaneSettings AllowDragAndDrop="false"></KanbanSwimlaneSettings>
    <KanbanEvents TValue="TaskModel"
                  DialogOpen="@OnDialogOpen"
                  CardClick="@OnCardClicked">
    </KanbanEvents>

    <KanbanColumns>
        <KanbanColumn HeaderText="Nierozpoczęte" KeyField="@(new List<string>() { "Nierozpoczete" })"
                      TransitionColumns="@(new List<string>() { "Nierozpoczete" })"></KanbanColumn>

        <KanbanColumn HeaderText="W toku" KeyField="@(new List<string>() { "W toku" })"
                      TransitionColumns="@(new List<string>() { "W toku" })"></KanbanColumn>

        <KanbanColumn HeaderText="Anulowane" KeyField="@(new List<string>() { "Anulowane" })"
                      TransitionColumns="@(new List<string>() { "Anulowane" })"></KanbanColumn>

        <KanbanColumn HeaderText="Zakończone" KeyField="@(new List<string>() { "Zakonczone" })"
                      TransitionColumns="@(new List<string>() { "Zakonczone" })"></KanbanColumn>
    </KanbanColumns>
</SfKanban>

@code {
    public static List<TaskModel> AllTasks, FilteredTasks;
    public static List<EmployeeTaskModel> MyTasks;

    protected override void OnInitialized()
    {
        /* // taski tylko zalogowanego pracownika
        AllTasks = TaskData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
        MyTasks = EmployeeTaskData.GetAllLabelsByEmployeeId(WebApp.Pages.Login.UserLoggedIn.Employee_id);

        FilteredTasks = AllTasks.Where(x => MyTasks.Any(z => x.Task_id == z.Task_id)).ToList();
        */

        FilteredTasks = TaskData.GetAllByCompanyId(WebApp.Pages.Login.UserLoggedIn.Company_id);
    }

    private void OnDialogOpen(DialogOpenEventArgs<TaskModel> args)
    {
        args.Cancel = true;
    }

    private void OnCardClicked(CardClickEventArgs<TaskModel> args)
    {
        // zapisanie modelu lub id taska i przejście do strony podglądu
    }
}