@page "/kanban"

<h3> Twoje zadania</h3>

<SfKanban TValue="BackendLibrary.Models.TaskModel" KeyField="Status" DataSource="@FilteredTasks" Locale="pl">
    <KanbanCardSettings HeaderField="Task_id" ContentField="Name"></KanbanCardSettings>
    <KanbanSwimlaneSettings AllowDragAndDrop="false"></KanbanSwimlaneSettings>
    <KanbanEvents TValue="TaskModel"
                  DialogOpen="@OnDialogOpen"
                  CardClick="@OnCardClicked">
    </KanbanEvents>

    <KanbanColumns>
        <KanbanColumn HeaderText="Nierozpoczęte" KeyField="@(new List<string>() { "Nierozpoczete" })"
                      AllowToggle="true" AllowDrag="false"></KanbanColumn>

        <KanbanColumn HeaderText="W toku" KeyField="@(new List<string>() { "W toku" })"
                      AllowToggle="true" AllowDrag="false"></KanbanColumn>

        <KanbanColumn HeaderText="Zakończone" KeyField="@(new List<string>() { "Zakonczone" })"
                      AllowToggle="true" AllowDrag="false"></KanbanColumn>

        <KanbanColumn HeaderText="Anulowane" KeyField="@(new List<string>() { "Anulowane" })"
                      AllowToggle="true" IsExpanded="false" AllowDrag="false"></KanbanColumn>
    </KanbanColumns>
</SfKanban>

@code {
    public static List<TaskModel> AllTasks, FilteredTasks;
    public static List<EmployeeTaskModel> MyTasks;

    protected override void OnInitialized()
    {
        if (Login.UserLoggedIn.If_manager == -1)
        {
            NavigationManager.NavigateTo("/");
        }

        AllTasks = TaskData.GetAllByCompanyId(Login.UserLoggedIn.Company_id);
        MyTasks = EmployeeTaskData.GetAllTasksByEmployeeId(Login.UserLoggedIn.Employee_id);

        FilteredTasks = AllTasks.Where(x => MyTasks.Any(z => x.Task_id == z.Task_id)).ToList();
    }

    // anuluje otwieranie podgladu - do zmiany jak bedzie gotowe okno szczegółów
    private void OnDialogOpen(DialogOpenEventArgs<TaskModel> args)
    {
        args.Cancel = true;
    }

    private void OnCardClicked(CardClickEventArgs<TaskModel> args)
    {
        // odczytanie modelu lub id taska i pokazanie okna podglądu
    }

    //TODO - obsługa DragStart i DragStop (<KanbanEvents />)
}